// Colors
$primary-color: #ff6600;
$secondary-color: #f29200;
$footer-color: #636363;
$header-color:rgba(0, 0, 0, 0.36);
$header-border:rgba(156, 142, 142, 0.6);
$form-bg-color:#575785;
$white-color: #ffffff;
$black-color: #000000;
$dark-brown: #281700;
$heading-color:#636363;
// Font
$primary-font:'Lato',
sans-serif;
$secondary-font: 'Roboto',
sans-serif;
$heading-font:'Roboto',
sans-serif;
// Font-size
$font-size-md: 14px;
$font-size-fs: 15px;
$font-size-lg: 18px;
$font-size-xl: 28px;
$padding-all:100px;